<ion-view title="finalConfirmation">
  <ion-content>
    <div ng-click="cancel()">Cancel</div>
    <br />
    <!-- Request photo -->
    <img ng-src="ticket.requestPhoto"/>

    <!-- Giver photo -->
    <img ng-src="ticket.giverPhoto"/>
    <br />

    <button ng-click="confirm()">¢onfirm</button>

    <div>
      Fee: {{ticket.fee}
    </div>

    <div>
      Total: {{ticket.total}}
    </div>

    <button ng-click="report()">Report</button>
    <a href="tel:911" >Alert</a>

  </ion-content>


</ion-view>
