<ion-view title="settings">
    <ion-content >

        <!-- Header Logo -->
        <div class="titleStyle">
            <img src="img/logo.svg">
        </div>

        <!-- Profile Picture -->
        <div style="display: block; text-align: center;">
            <img class="profileImg" ng-src="{{user.photoURL}}" ng-click="getImage()">
        </div>

        <!-- Sign Out Button -->
        <button class="button button-clear cashme-sign-out-button" ng-click="signOut()">
            Sign Out
        </button>

        <div class="cashme-sign-out-button">
            <p>My Rating: {{userRating}}</p>
        </div>
        
        <div class="container">
            <!-- <h1 ui-sref="finalConfirmation">Setting page</h1> -->

            <label class="item item-input item-floating-label">
                <span class="input-label cashme-setting-input-label">My name is</span>
                <input name="name" ng-model="user.displayName" type="text" placeholder="Enter your name">
            </label>
            <br>
            <button class="button button-block cashme-button" ng-click="saveInfo()">Save</button>
        </div>


        <ion-list>
          <span class="input-label cashme-setting-input-label">Your Cards</span>
          <ion-item ng-repeat="paymentMethod in customer.paymentMethods">
            {{paymentMethod.cardType}} ending in {{paymentMethod.last4}} expiring in {{paymentMethod.expirationDate}}
          </ion-item>

        </ion-list>


        <div id="dropin-container">

        </div>
        <button class="button button-block cashme-button" ng-click="addNewCard()" ng-show="!hideNewCard">Add New Card</button>
        <button class="button button-block cashme-button" ng-click="submitPaymentMethod()" ng-show="hideNewCard">Add Card</button>

    </ion-content>

</ion-view>
