<ion-view title="settings">
    <ion-content >

        <!-- Header Logo -->
        <div class="titleStyle">
            <img src="img/logo.svg">
        </div>

        <!-- Profile Picture -->
        <div style="display: block; text-align: center;">
            <img class="profileImg" ng-src="{{user.photoURL}}" ng-click="getImage()">
        </div>

        <!-- Save Button -->
        <button class="button button-clear cashme-sign-out-button" ng-click="saveInfo()">
            Save
        </button>

        <div class="cashme-ratings">
            {{userRating}}<a class="icon-right ion-ios-star" style="color: #9CCC65;"></a>
        </div>
        
        <div class="container">
            <!-- <h1 ui-sref="finalConfirmation">Setting page</h1> -->

            <label class="item item-input item-floating-label">
                <span class="input-label cashme-setting-input-label">My name is</span>
                <input style="text-align: center;" name="name" ng-model="user.displayName" type="text" placeholder="Enter your name">
            </label>
            <br>

        </div>

        <div class="list card" style="color: #9CCC65;">
            <a class="item item-divider">
                Your cards
            </a>
            
            <a class="item item-icon-right cashme-option-list" ng-repeat="paymentMethod in customer.paymentMethods">
                    {{paymentMethod.cardType}} ending in {{paymentMethod.last4}} expiring in {{paymentMethod.expirationDate}}
                <i class="icon ion-ios-arrow-right"></i>
            </a>

            <a class="item item-icon-left cashme-option-list" ng-click="addNewCard()">
                <i class="icon ion-ios-plus-outline"></i>
                Add New Card
            </a>
        </div>
        
        <div class="list" style="color: #9CCC65;">
            <a class="item item-icon-right cashme-option-list" ng-click="signOut()">
                Sign out
                <i class="icon ion-ios-arrow-forward"></i>
            </a>
        </div>



    </ion-content>

</ion-view>