<ion-view title="wallet">
    <ion-content>
<div>
<a ui-sref="settings">
  <img class="profileImg" ng-src="{{user.photoURL}}">
</a>

  <div>
  	<h3>My Wallet</h3>
  	<span>$</span><input ng-model="money.wallet" class="cashInput" type="number" name="wallet">
  </div>

  <div>
  	<h3>My Request</h3>
  	<span>$</span><input ng-model="money.request" class="cashInput" type="number" name="request">
  	<button ng-click="requestCash()">Next</button>
  </div>

  <div id="dropin-container"></div>
  <button id="submit-button" ng-click="requestPaymentMethod()">Request payment method</button>



</div>
</ion-content>
</ion-view>
