<ion-view title="wallet">

  <ion-content scroll="false">
    <!-- Header Logo -->
    <div class="titleStyle">
        <img src="img/logo.svg">
    </div>

    <!-- Profile Picture -->
    <div style="display: block; text-align: center;">
      <a ui-sref="settings">
        <img class="profileImg" ng-src="{{user.photoURL}}" ng-click="getImage()">
      </a>
    </div>


    <!-- Sign Out Button -->
    <button class="button button-clear cashme-sign-out-button" ng-click="goToSettings()">
        Settings
    </button>

    <div class="list" style="text-align: center; color: #9CCC65; margin-bottom: 0;">
      <a class="item">
          Are you available to deliver money?
          <ion-toggle ng-model="money.isAvailable" ng-click="toggleAvailable()" toggle-class="toggle-energized"></ion-toggle>
      </a>
    </div>

    <div class="container" style="margin-top:0;">
      <!-- My Wallet -->
      <div>
        <label class="item item-input item-floating-label">
            <span class="input-label cashme-wallet-input-label">My wallet</span>
            <input name="wallet" ng-change="setMyWallet()" ng-model="money.wallet"
                  type="text" placeholder="How much do you have in your wallet?"
                  min="5" step="1" max="500">
        </label>
      </div>

      <br>
      <!-- My request -->
      <div>
        <label class="item item-input item-floating-label">
            <span class="input-label cashme-wallet-input-label">My request</span>
            <input name="request" ng-change="setMyRequest()" ng-model="money.request"
                  type="text" placeholder="How much do you want to request?"
                  min="5" step="1" max="500">
        </label>
      </div>

      <br>
      <button class="button button-block cashme-button" ng-click="requestCash()">Get Cash</button>

    </div>

    <script id="requestPopup.html" type="text/ng-template">
      <div class="requestPopup">
        <h4><span>star</span> {{notification.rating}}/5</h4>
        <h4 ng-if="notification.distance >= 0.1">{{notification.distance | number:1}} miles away</h4>
        <h4 ng-if="notification.distance < 0.1">{{notification.distance * 5280 | number:1}} feet away</h4>
        <h4>{{notification.displayName}} needs ${{notification.amount}}</h4>
        <h5>*Remember, you must have exact change</h5>
      </div>
    </script>

  </ion-content>
</ion-view>
