.centeredConfirm{
    color: #9CCC65;
    text-align: center;
}


/*---------------- ELEMENTs ----------------------*/
.container{
    margin: 6vw;
}

.button{
    font-family: "Usual-Thin", "Usual", sans-serif;
}

.error-message{
    font-family: "Usual-Thin", "Usual", sans-serif;
    background-color: #F44336; 
    color: white;
    text-align: center;
    padding: 2vw;
}

.popup-container .popup {
    text-align: center;
}

.popup-container .popup .popup-head {
    background-color: #9CCC65;

}

/* loading indicator */
.loading-container .loading{
    background-color: transparent;
}
  
.loader {
    border: 5px solid white; /* Light grey */
    border-top: 5px solid #9CCC65; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*---------------- POP UPS ----------------------*/
.cashme-title-popup{
    font-family: "Usual-Thin", "Usual", sans-serif;
    color: white;
    letter-spacing: 1.5px;
}



/*---------------- INDEX.HTML ----------------------*/
.bar.bar-stable {
    border: none;
    border-color: #9CCC65;
    background-color: #9CCC65;
    color:white;
    /* height: 20vh; */
}

.titleStyle{
    background-color: #9CCC65;
    height: 20vh;
    padding: 4vh 10vw;
}

.has-header {
    top: 0;
}



/*---------------- LOGIN.HTML ----------------------*/
.item{
    border: none;
}

.input-label.cashme-login-input-label{
    font-family: "Usual-Bold", "Usual", sans-serif;
    color: white;
    letter-spacing: 1.5px;
}

input[type="email"], input[type="password"]{
    font-family: "Usual-Thin", "Usual", sans-serif;
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
}

input[type="email"]::placeholder, input[type="password"]::placeholder{
    font-family: "Usual-Thin", "Usual", sans-serif;
    color: white;
}

.cashme-login-button{
    background-color: white;
    color: #9CCC65;
    font-size: 20px;
}

.button:hover{
    color:#9CCC65;
}



/*---------------- SETTING.HTML ----------------------*/
.button-clear.button-clear.cashme-sign-out-button{
    color: white;
    float: right;
    position: relative;
    margin-top: -15vh;
}

.profileImg{
    background-image: url(/img/default-avatar.png);
    background-size: cover;
    background-position-y: center;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-top: -36px;
    height: 100px;
    width: 100px;
    cursor: pointer;
    position: relative;
}

.cashme-button{
    background-color: #9CCC65;
    color: white;
    font-size: 20px;
}

.input-label.cashme-setting-input-label{
    font-family: "Usual-Thin", "Usual", sans-serif;
    color: #9CCC65;
    letter-spacing: 1.5px;
}

input[type="text"]{
    font-family: "Usual-Thin", "Usual", sans-serif;
    font-size: 20px;
    color: #9CCC65;
    letter-spacing: 2px;
}

.cashme-ratings{
    font-family: "Usual-Thin", "Usual", sans-serif;
    text-align: center;
    font-size: 20px;
    color: #9CCC65;
}

.cashme-option-list{
    border-top-width: 1px;
    border-bottom-width: 0.5px;
    border-top-style: solid;
    border-bottom-style: solid;
}

/*---------------- WALLET.HTML ----------------------*/
.input-label.cashme-wallet-input-label{
    font-family: "Usual-Thin", "Usual", sans-serif;
    font-size: 4vw;
    color: #9CCC65;
    letter-spacing: 1.5px;
}

input[type="text"]{ 
    font-family: "Usual-Thin", "Usual", sans-serif;
    font-size: 7vw;
    font-weight: bolder;
    color: #9CCC65;
    letter-spacing: 2px;
    text-align: center;
    border-bottom: 1px solid #9CCC65;
    width: 75vw;
    height: 5vh;
    margin: 0 auto;
}

input[type="text"]::placeholder{
    font-family: "Usual-Thin", "Usual", sans-serif;
    font-size: 2vw;
    white-space:pre-line;  
    position:relative;
    top:-18px;
    text-align: center;
}

.item-toggle .toggle{
    position: relative;
    top: 0;
    right: 0;
    z-index: 3;
}

.item-toggle, .item-toggle.item-complex .item-content{
    padding-right: 16px;
}

/*---------------- WAITING.HTML ----------------------*/
.cashme-h1{
    text-align: center;
    color: #9CCC65;
}

.button.button-clear.cashme-cancel-button{
    color: white;
    float: right;
    position: relative;
    margin-top: -6vh;
    margin-right: 2vw;
}


/*---------------- MAP.HTML ----------------------*/
.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 69vh;
}

.input-label.cashme-map-input-label{
    font-family: "Usual-Thin", "Usual", sans-serif;
    font-size: 4vw;
    color: #9CCC65;
    letter-spacing: 1.5px;
    font-weight: bold; 
}

input[type="text"]::placeholder{
    font-size: 4vw;
    text-align: center;
    white-space:pre-line;  
    position:relative;
}

.customMarker {
    position:absolute;
    cursor:pointer;
    margin-left:-50px;
    margin-top:-110px;
    border-radius:50%;
    padding:0px;
}

.customMarker img {
    background-size: cover;
    background-position-y: center;
    widows: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
    border: 4px solid #9CCC65;
    z-index: -50;
}


/*---------------- RESPONSIVE STUFF ----------------------*/
@media all and (max-width: 412px){
    .button-clear.button-clear.cashme-sign-out-button{
        margin-top: -16vh;
    }
    .button.button-clear.cashme-cancel-button{
        margin-top: -6vh;   
    }
    #map{
        height: 68vh;
    }
}

@media only screen and (max-height: 732px){
    #map{
        height: 69vh;
    }
}

@media only screen and (max-width: 360px){
    .button-clear.button-clear.cashme-sign-out-button{
        margin-top: -18vh;
    }
    .button.button-clear.cashme-cancel-button{
        margin-top: -7vh;   
    }
    #map{
        height: 68vh;
    }
}