input[type="number"]{ 
    text-align: center;
    border-bottom: 1px solid #9CCC65;
    font-size: 8vw;
    font-weight: bolder;
    color: #9CCC65;
    width: 50vw;
    margin: 0 auto;
}

#findingATM{
    margin-top: 20vh;
    text-align: center;
    color: #9CCC65;
}

.centeredConfirm{
    color: #9CCC65;
    text-align: center;
}

h3{
    color: #9CCC65;
}


/*---------------- ELEMENT ----------------------*/
.button{
    font-family: "Usual-Thin", "Usual", sans-serif;
}




/*---------------- INDEX.HTML ----------------------*/
.bar.bar-stable {
    border: none;
    border-color: #9CCC65;
    background-color: #9CCC65;
    color:white;
    /* height: 20vh; */
}

.titleStyle{
    background-color: #9CCC65;
    height: 20vh;
    padding: 4vh 10vw;
}

.has-header {
    top: 0;
}



/*---------------- LOGIN.HTML ----------------------*/
.container{
    margin: 6vw;
}

.item{
    border: none;
}

.input-label.eoko-login-input-label{
    font-family: "Usual-Bold", "Usual", sans-serif;
    color: white;
    letter-spacing: 1.5px;
}

input[type="email"], input[type="password"]{
    font-family: "Usual-Thin", "Usual", sans-serif;
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
}

input[type="email"]::placeholder, input[type="password"]::placeholder{
    font-family: "Usual-Thin", "Usual", sans-serif;
    color: white;
}

.eoko-login-button{
    background-color: white;
    color: #9CCC65;
    font-size: 20px;
}

.button:hover{
    color:#9CCC65;
}



/*---------------- SETTING.HTML ----------------------*/
.button-clear.button-clear.eoko-sign-out-button{
    color: white;
    float: right;
    position: relative;
    margin-top: -15vh;
}

.profileImg{
    background-image: url(/img/default-avatar.png);
    background-size: cover;
    background-position-y: center;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-top: -36px;
    height: 100px;
    width: 100px;
    cursor: pointer;
    position: relative;
}

.eoko-button{
    background-color: #9CCC65;
    color: white;
    font-size: 20px;
}

.input-label{
    font-family: "Usual-Thin", "Usual", sans-serif;
    color: #9CCC65;
    letter-spacing: 1.5px;
}

input[type="text"]{
    font-family: "Usual-Thin", "Usual", sans-serif;
    font-size: 20px;
    color: #9CCC65;
    letter-spacing: 2px;
}